<div class="max-h-80">
  <p-carousel [value]="categories" [responsiveOptions]="responsiveOptions">
      <ng-template let-category pTemplate="item">
          <div class="border-1 surface-border border-round m-0 text-center py-1 px-0.5 cursor-pointer" [routerLink]="['productsByCategory', category.code]">
              <div class="w-64 flex-none">
                <div class="border rounded-lg p-4">
                  <div class="h-3/5 overflow-hidden">
                    <img
                      [src]="category.link"
                      alt="Item Image"
                      class="w-full h-full object-cover"
                    />
                  </div>
                  <div class="h-2/5 border-t">
                    <div class="mt-1 h-3/5">
                      <p class="text-md font-semibold text-center text-pink-600">{{ category.name }}</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </ng-template>
  </p-carousel>
</div>
