<div class="flex items-center p-1 bg-slate-50">
  <div (click)="showLocationDrawer = true">
    <span class="pi pi-map-marker"></span>
    <span class="px-1">Nearest store:</span>
    <span> {{ nearestStore }}</span>
    <span class="px-1 fa-solid fa-repeat"></span>
  </div>
</div>
<!--Location Drawer-->
<div>
  <div
    class="fixed inset-0 z-50 bg-white overflow-auto"
    [class.hidden]="!showLocationDrawer"
  >
    <div>
      <div class="ml-auto">
        <button class="text-black" (click)="close()">Close</button>
      </div>
      <div>
        <div>Your selected/nearest store: {{ nearestStore }}</div>
        <div>
          <p
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded border p-2"
            (click)="changeStoreAsWish = false; changeStorebyPincode = true"
          >
            I want to change store by my pincode
          </p>
          @if (changeStorebyPincode) {
          <div class="max-w-md mx-auto p-6 bg-white rounded-md shadow-md">
            <h2 class="text-xl font-semibold mb-4">
              Update pincode to show nearest store
            </h2>
            <app-pincode-page
              (emitOutsideDeliveryZone)="isOutsideDeliveryZone = $event"
            ></app-pincode-page>
            <div>
              <button
                class="flex items-center justify-center w-full p-3 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
                (click)="updatePincode()"
              >
                Update
              </button>
            </div>
          </div>
          }
        </div>
        <div>
          <p
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded border p-2"
            (click)="changeStoreAsWish = true; changeStorebyPincode = false"
          >
            I want to switch my store even if it is long for me
          </p>
          @if (changeStoreAsWish) {
          <div class="mb-4">
            <label for="city" class="block text-gray-700 font-bold"
              >Cities we are currently present:</label
            >
            <input
              type="text"
              id="city"
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              [(ngModel)]="city"
              [disabled]="true"
            />
          </div>
          <div class="mb-4">
            <label for="selectOption" class="block text-gray-700 font-bold mb-2"
              >Select store you want your order from:</label
            >
            <select
              id="selectOption"
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              [(ngModel)]="selectedStore"
              [disabled]="true"
            >
              @for (store of stores; track $index) {
              <option [value]="store.StoreId">
                {{ store.Name }}
              </option>
              }
            </select>
          </div>
          <div>
            <button
              class="flex items-center justify-center w-full p-3 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
              (click)="switchStore()"
            >
              Switch Store
            </button>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
