<div
  class="bg-white border rounded-lg p-4"
  style="cursor: pointer"
  (click)="loadProductDetails(product)"
>
  <div class="h-3/5 overflow-hidden">
    <img
      [src]="
        'https://toyimages.s3.ap-southeast-2.amazonaws.com/toys/' +
        product.Code +
        '/' +
        '1.jpg'
      "
      alt="Item Image"
      class="w-full h-full object-cover"
    />
  </div>
  <div class="h-1/5 border-t">
    <div class="mt-1 h-3/5">
      <p class="text-md font-semibold text-center">
        {{ product.Name }}
      </p>
    </div>
    <div class="flex justify-between mt-1">
      <p class="text-gray-600">#{{ product.Code }}</p>
      <p class="text-gray-600">{{ product.Age }}</p>
    </div>
    <div>
      <p class="text-gray-600 text-center text-sm">
        {{ product.Category }}
      </p>
    </div>
  </div>
</div>
