<div class="fixed bottom-20 right-0 p-4 z-20">
  <a
    href="https://wa.me/8248284630"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      src="assets/whatsapp-logo.png"
      alt="WhatsApp"
      class="w-10 h-10 mx-2"
    />
  </a>
  <a
    href="https://www.instagram.com/skipcry.toys/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      src="assets/instagram-logo.png"
      alt="Instagram"
      class="w-10 h-10 mx-2"
    />
  </a>
</div>
<footer class="bg-gray-800 text-white py-8 mt-80">
  <div
    class="container mx-auto flex flex-col md:flex-row items-center justify-between px-4"
  >
    <!-- Left section -->
    <div class="mb-4 md:mb-0">
      <h2 class="text-lg font-bold mb-2">SkipCry Toy Library</h2>
      <p class="text-sm">
        Rent toys, books, puzzles and activities in Chennai
      </p>
    </div>

    <!-- Center section -->
    <div class="flex items-center space-x-4">
      <a href="#" class="hover:text-gray-300">Home</a>
      <a [routerLink]="['products']" class="hover:text-gray-300">Products</a>
      <a [routerLink]="['howitworks']" class="hover:text-gray-300"
        >How it Works?</a
      >
      <a href="#" class="hover:text-gray-300">Contact</a>
    </div>

    <!-- Right section -->
    <div>
      <p class="text-sm">
        &copy; 2024 SkipCry Solutions Private Limited. All rights reserved.
      </p>
    </div>
  </div>
</footer>
