@if (products.length) {
<div class="text-xl font-semibold text-yellow-500 py-1">Related Products</div>
<div class="flex md:justify-center overflow-auto">
  @for (product of products; track $index) {
  <div
    class="border-1 surface-border border-round text-center py-1 px-0.5 max-h-68"
  >
    <!-- Product Cards -->
    <div class="w-64 flex-none">
      <div class="border rounded-lg p-1" (click)="loadProduct(product)">
        <div class="h-3/5 overflow-hidden min-h-32 max-h-32 bg-white">
          <img
            [src]="
              'https://toyimages.s3.ap-southeast-2.amazonaws.com/' +
              product.Code +
              '.jpg'
            "
            alt="Item Image"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="h-2/5 border-t max-h-32 bg-white">
          <div class="mt-1 h-3/5">
            <p class="text-md font-semibold text-center">
              {{ product.Name }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
}
