<div class="flex justify-between p-2">
  <p>
    To block a toy, you need to have money in toy wallet. @if(wallet){
    <span>Wallet balance: &#8377;{{ wallet.totalAmount }}</span>
    }
  </p>
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded border"
    (click)="blockProduct(product)"
    [disabled]="!canBlockToy"
  >
    @if (appService.user()) { Block for &#8377;{{ blockAmount }} till
    {{ day7FromToday | date : "MMM d, y" }}
    } @else { Block }
  </button>
</div>
<div class="p-2">
  @if (wallet && !canBlockToy) {
  <app-add-money (emitWallet)="updateWallet($event)"></app-add-money>
  }
</div>
@if (productBlocked) {
<div
  class="fixed bottom-0 left-0 right-0 bg-green-500 text-white px-4 pr-24 py-2 flex justify-between items-center"
>
  <p>Product added to blocked toys</p>
  <button
    class="bg-white text-green-500 px-4 py-2 rounded shadow"
    (click)="loadBlockToys()"
  >
    View Blocked Toys
  </button>
</div>
}
