@if (product) {
<div class="flex justify-between">
  <div class="pl-2">
    <div>
      <h2 class="text-xl font-bold mb-2">
        {{ product.Name }} {{ product.Code }}
      </h2>
    </div>
    <div>
      <p class="text-gray-700 mb-2">
        {{ product.Age }} | {{ product.Category }} | Class
        {{ product.Class }}
      </p>
    </div>
  </div>
  <div class="md:flex md:pr-4 md:space-x-2">
    @if(!productAddedToWishlist) {
    <div class="py-2">
      <span class="fa-regular fa-heart" (click)="addToWishlist()"> </span>
    </div>
    } @else() {
    <div class="py-2">
      <span class="fa-solid fa-heart" (click)="removeFromWishlist()"> </span>
    </div>
    }
    <div class="py-2">
      <span
        class="fa-solid fa-share-nodes text-black font-bold"
        (click)="share()"
      >
      </span>
    </div>
  </div>
</div>
<div class="md:flex">
  <!-- Product Images -->
  <div class="md:w-3/5 md:pl-10">
    @if (product) {
      <app-gallery [product]="product"></app-gallery>
    }
  </div>

  <!-- Product Details -->
  <div class="md:w-3/5 pl-5">
    @if (productAdded) {
    <div
      class="fixed bottom-0 left-0 right-0 bg-green-500 text-white px-4 pr-24 py-2 flex justify-between items-center"
    >
      <p>Product added to cart</p>
      <button
        class="bg-white text-green-500 px-4 py-2 rounded shadow"
        [routerLink]="['/cart']"
      >
        View Cart
      </button>
    </div>
    }
    <div class="mt-2">
      <label for="rentPeriod">Rent Period</label>
      <p-selectButton
        [options]="stateOptions"
        [(ngModel)]="daysValue"
        optionLabel="label"
        optionValue="value"
        (onChange)="setRentValue(daysValue, product)"
      ></p-selectButton>
    </div>
    <div>
      <p class="text-gray-700 my-2 font-semibold">
        Rent: &#8377; @if (daysValue === '15d') {
        {{ product.rent15 }}
        } @else {
        {{ product.rent30 }}
        }
      </p>
    </div>
    <div>
      @if (!product.ShopQty) {
      <app-block-product [product]="product"></app-block-product>
      <div>
        @if (product.NextAvailableBy) {
        <p class="text-gray-500 mb-2">
          Available from {{ product.NextAvailableBy | date : "MMM d, y" }}
        </p>
        } @if (canNotify) {
        <p>You will be notified when available.</p>
        } @else {
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded border"
          (click)="notifyAvailability(product)"
        >
          Notify
        </button>
        }
        <app-product-check [product]="product" (emitAddTocart)="addToCart($event)"></app-product-check>
      </div>
      } @else { @if (!productInCart) {
      <div>
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded border"
          (click)="addToCart(product)"
        >
          Add to Cart
        </button>
      </div>
      <app-block-product [product]="product"></app-block-product>
      <div>
        <p class="text-gray-700 mb-2">
          {{ product.Description }}
        </p>
      </div>
      } @else() {
      <div
        class="fixed bottom-12 md:bottom-0 left-0 right-0 bg-green-500 text-white px-4 pr-24 py-2 flex justify-between items-center"
      >
        <p>Already added to cart</p>
        <button
          class="bg-white text-green-500 px-4 py-2 rounded shadow"
          [routerLink]="['/cart']"
        >
          View Cart
        </button>
      </div>
      } }
    </div>
  </div>
</div>
}

<div>
  @if (product) {
  <app-related-products [product]="product"></app-related-products>
  }
</div>
