@if (isLoading) {
<div class="flex justify-center items-center h-screen">
  <app-loader></app-loader>
</div>
} @else {
<div>
  <div class="text-3xl font-semibold text-center">
    @if (ageType === 'preschool') { 0 to 3 years } @else if (ageType ===
    'playschool') { 3 to 6 years} @else if (ageType === 'primaryschool') { 6 to
    12 years}
  </div>
  @if(products.length) {
  <app-products [products]="products" [filter]="'age'"></app-products>
  } @else {
  <div class="p-3">No products found</div>
  }
</div>
}
