<div class="flex md:justify-center overflow-auto">
  <div
    class="w-1/2 md:w-full border-1 surface-border border-round m-0 text-center md:py-1 md:px-0.5 cursor-pointer"
    [routerLink]="['productsByAge', 'preschool']"
  >
    <div class="w-64 flex-none">
      <div class="border rounded-lg p-4">
        <div class="w-1/2 md:w-full h-3/5 overflow-hidden">
          <img
            [src]="'https://toyimages.s3.ap-southeast-2.amazonaws.com/S90.jpg'"
            alt="Item Image"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="border-t bg-white w-1/2 md:w-full">
          <div class="mt-1">
            <p class="text-md font-semibold text-center text-pink-600">
              0-3 Years
            </p>
            <p class="text-pink-300 text-sm">Toys, Big Cars, Books</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-1/2 md:w-full border-1 surface-border border-round m-0 text-center md:py-1 md:px-0.5 cursor-pointer"
    [routerLink]="['productsByAge', 'playschool']"
  >
    <div class="w-64 flex-none">
      <div class="border rounded-lg p-4">
        <div class="w-1/2 md:w-full h-3/5 overflow-hidden">
          <img
            [src]="'https://toyimages.s3.ap-southeast-2.amazonaws.com/S229.jpg'"
            alt="Item Image"
            class="w-full h-full md:object-cover"
          />
        </div>
        <div class="w-1/2 md:w-full h-2/5 border-t bg-white">
          <div class="mt-1 md:h-3/5">
            <p class="text-md font-semibold text-center text-pink-600">
              3-6 Years
            </p>
            <p class="text-pink-300 text-sm">
              Toys, Activities, Books, Junior Puzzles
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-1/2 md:w-full border-1 surface-border border-round m-0 text-center md:py-1 md:px-0.5 cursor-pointer"
    [routerLink]="['productsByAge', 'primaryschool']"
  >
    <div class="w-64 flex-none">
      <div class="border rounded-lg p-4">
        <div class="w-1/2 md:w-full h-3/5 overflow-hidden">
          <img
            [src]="'https://toyimages.s3.ap-southeast-2.amazonaws.com/S223.jpg'"
            alt="Item Image"
            class="w-full h-full md:object-cover"
          />
        </div>
        <div class="w-1/2 md:w-full h-2/5 border-t bg-white">
          <div class="mt-1 md:h-3/5">
            <p class="text-md font-semibold text-center text-pink-600">
              6+ Years
            </p>
            <p class="text-pink-300 text-sm">Toys, Books, Games, Puzzles</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
